<?xml version="1.0"?>
<config>
  <modules>
    <Ndsl_Shippingname>
      <version>0.1.0</version>
    </Ndsl_Shippingname>
  </modules>
  <global>
    <helpers>
      <shippingname>
        <class>Ndsl_Shippingname_Helper</class>
      </shippingname>
    </helpers>
	<models>
	  <shippingname>
		<class>Ndsl_Shippingname_Model</class>
		<resourceModel>shippingname_mysql4</resourceModel>
	  </shippingname>
	</models>
  </global>    
	<default>
        <carriers>
            <ndsltnt>
                <active>0</active>
                <model>shippingname/carrier_ndsltnt</model>
                <name>Ndsltnt</name>
                <title>TNT</title>
                <description>TNT Express - http://www.tnt.com/</description>
                <sort_order>0</sort_order>
            </ndsltnt>
            <ndsldelhivery>
                <active>0</active>
                <model>shippingname/carrier_ndsldelhivery</model>
                <name>ndsldelhivery</name>
                <title>Delhivery</title>
                <description>Delhivery - 
delhivery.com</description>
                <sort_order>1</sort_order>
            </ndsldelhivery>
            <ndslfedex>
                <active>0</active>
                <model>shippingname/carrier_ndslfedex</model>
                <name>ndslfedex</name>
                <title>Fedex</title>
                <description>Fedex - http://www.fedex.com/</description>
                <sort_order>0</sort_order>
            </ndslfedex>
            <ndslgati>
                <active>0</active>
                <model>shippingname/carrier_ndslgati</model>
                <name>ndslgati</name>
                <title>Gati</title>
                <description>Gati - http://www.gatikwe.com/</description>
                <sort_order>0</sort_order>
            </ndslgati>
            <ndslgojavas>
                <active>0</active>
                <model>shippingname/carrier_ndslgojavas</model>
                <name>ndslgojavas</name>
                <title>Gojavas</title>
                <description>Gojavas -
http://gojavas.com/</description>
                <sort_order>0</sort_order>
            </ndslgojavas>
        </carriers>
    </default>
</config> 