<?xml version="1.0" encoding="UTF-8"?>
<!--
/** 
 * @package     Ndsl_orderstatus
 * @author      Ndsl Team <gautam@ndslindia.com>
 * @copyright   Copyright (c) 2014 - Net Distribution Services Pvt Ltd. (http://ndslindia.com/)  
 */
-->
<config>

  <modules>
    <Ndsl_Orderstatus>
      <version>0.1.0</version>
    </Ndsl_Orderstatus>
  </modules>
  <global>

    <blocks>
      <orderstatus>
        <class>Ndsl_Orderstatus_Block</class>
      </orderstatus>
    </blocks>

    <helpers>
      <orderstatus>
        <class>Ndsl_Orderstatus_Helper</class>
      </orderstatus>
    </helpers>

  </global>
  
  <admin>
    <routers>
      <orderstatus>
        <use>admin</use>
        <args>
          <module>Ndsl_Orderstatus</module>
          <frontName>orderstatus</frontName>
        </args>
      </orderstatus>
    </routers>
  </admin>

  <adminhtml>

        <menu>
             <sales>
                 <children>
                    <orderstatus translate="title"> 
                        <title>Import Order Status code</title>
                        <action>orderstatus/import</action>
                        <sort_order>15</sort_order>                        
                    </orderstatus>
                </children>
             </sales>
        </menu>

        <acl>
            <resources>
                <admin>
                    <children>
                        <sales>
                            <children>
                                <orderstatus translate="title">
                                    <title>Import Order Status code</title>                                    
                                    <sort_order>15</sort_order>
                                </orderstatus>
                            </children>
                        </sales>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <orderstatus>
                                            <title>Import Order Status code</title>
                                            <sort_order>100</sort_order>
                                        </orderstatus>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <orderstatus>           
            <import>
                <default_tracking_title></default_tracking_title>
                <send_email>1</send_email>
                <shipping_comment></shipping_comment>
                <include_comment>0</include_comment>
            </import>
        </orderstatus>
    </default>
</config> 