<?xml version="1.0"?>
<!--
/** 
 * @package     Ndsl_orderstatus
 * @author      Ndsl Team <gautam@ndslindia.com>
 * @copyright   Copyright (c) 2014 - Net Distribution Services Pvt Ltd. (http://ndslindia.com/)  
 */
-->
<config>
    <tabs>
        <ndsl_extensions translate="label" module="orderstatus">
            <label>Ndsl</label>
            <sort_order>252</sort_order>
        </ndsl_extensions>
    </tabs>
    <sections>
        <orderstatus>
            <label>Import Order Status code</label>
            <tab>ndsl_extensions</tab>
            <frontend_type>text</frontend_type>
            <sort_order>2000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                
                <import translate="label">
                    <label>Import Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <default_tracking_title translate="label comment">
                            <label>Default Tracking Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>This value can be changed in the import form</comment>
                        </default_tracking_title>
                        <send_email translate="label comment">
                            <label>Send an e-mail</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Send shipping confirmation to the customer</comment>
                        </send_email>
                    </fields>
                </import>
            </groups>
        </orderstatus>
    </sections>
</config>
